# IntelliJ and VSCode config files for Web App
**/.vscode
.DS_Store
.metadata/
.recommenders/
**/target/
**/.settings/
**/.project
**/.classpath
**/.tern-project
**/bin/
Servers/
**/out
**/.idea
**.iml
